<div class="row">
  <div class="col-md-12 titlecontainer text-right bg-danger text-white">
    <h1>Eat Da Burger!</h1>
    <p>Devour a Burger or create your own burger</p>
  </div>
</div>

<div class="row bg-warning flex-row">
  <div class="col-md-1">
  </div>
  <div class="col-md-3">
        {{> add-burger}}
  </div>
  <div class="col-md-4 text-center">
    {{> burgers-menu}}
  </div>
  <div class="col-md-3 text-center">
    {{> devoured}}
  </div>
  <div class="col-md-1">
        
  </div>
</div>

